header {
    display: flex;
    justify-content: center;
}

article {
    padding: 10px 15px 10px 15px;
}

.btn-warningCSS {
    background-color: #FBE423;
}
.section-conoce-tus-finanzas {
text-align: center;
display: flex;
}

#scrn-intro {
    display: block;
}
#scrn-calcula {
    display: none;
}

footer {
    position: absolute;
    width: 100%;
    height: 3em;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: whitesmoke;
    font-size: 13px;
    padding-top: 5px;
}