.btn-warningCSS {
    background-color: #FBE423;
}

#scrn-intro {
    display: block;
}
#scrn-calcula {
    display: none;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}